body, html {
	font-family: Roboto,Arial,sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
#map {
	flex: 2;
	height: 100%;
	width: 100%;
}
#notes {
	background-color: #fff;
	color: rgb(68, 68, 68);
	font-size: 10px;
	opacity: .7;
	padding: 1px 6px;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	transition: opacity .25s ease-in-out;
}
#notes:hover {
	opacity: 1;
}